* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 5%;
}

.container {
  max-width: 1100px;

  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;

  margin: 0 auto;
}

.card {
  width: 100%;
}

.card__box {
  overflow: hidden;
  border: 0.3px solid #828282;
  border-radius: 16px;
}

.card__image {
  width: 100%;
  background-color: mediumspringgreen;
  aspect-ratio: 5 / 3.5;
}

.card__text {
  width: 100%;
  background-color: mediumslateblue;
}

@media (min-width: 690px) {
  .card {
    width: calc(50% - 15px);
  }
}

@media (min-width: 990px) {
  .container {
    grid-gap: 60px;
  }
  .card {
    width: 100%;
  }

  .card__box {
    display: flex;
    height: 100%;
  }

  .card__image {
    width: 43%;
  }
  .card__text {
    width: 57%;
    height: 100%;
  }
}
